.page {
    margin-top: 40px;
}

.titleText {
    text-align: center  ;
    font-size: 0.9em
}

.category {
    font-size: 1.0em;
    margin: 5px;
    display: block;
}

.voteButton {
    background: none;
    border: none;
    display: inline;
    padding: 0px;
    outline: none;
    margin-left: 2px;
}